/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


#grid {
    display: flex;
    flex-wrap: wrap;
}

#grid .cell {
    width: 10%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #0B5ED7;
}

#grid .cell.active {
    background-color: #0B5ED7;
    border: 1px solid #CFF4FC;
    color: #CFF4FC;
}
